---
interface Props {
  title?: string;
}

const { title = 'RINHA2::RUST' } = Astro.props;
---

<nav>
  <div class="logo">{title}</div>
  <div class="nav-links">
    <a href="https://github.com/jonathanperis/rinha2-back-end-rust">GitHub</a>
    <a href="./docs/">Docs</a>
  </div>
</nav>
